{% extends 'includes/base.html' %}
{% block content %}
    <div>
        <div>
            {% if order_content %}
                {% include 'orders/show_cart_content.html' %}
            {% else %}
                пусто
            {% endif %}
        </div>
        <div>
            {% if order.accepted %}
                accepted
            {% else %}
                {% include 'orders/select_product.html' with order=order form=form %}
                <a href="{% url 'orders:accept' order.id %}" >accept</a>
            {% endif %}
            <a href="{% url 'orders:list' %}">list orders</a>
        </div>
    </div>
{% endblock %}
