{% extends 'includes/base.html' %}
{% load template_filters %}
{% block content %}
    {% if orders %}
        <table border=1>
            <thead>
                <tr>
                    <th>#</th>
                    <th>personName</th>
                    <th>created date</th>
                    <th>accepted</th>
                    <th>finished</th>
                    <th>Estimated</th>
                    <th>do smth</th>
                </tr>
            </thead>
            <tbody>
                    {% for order in orders %}
                            <tr>
                                <td><a href='{% url 'orders:detail' order.id %}'>{{ order.id }}</a></td>
                                <td>{{ order.owner }}</td>
                                <td>{{ order.created_date|date:"Y-m-d h:i:s" }}</td>
                                <td>{{ order.accepted }}</td>
                                <td>{{ order.finished }}</td>
                                <td>{{ order.estimated_time|duration }}</td>
                                <td><a href="{% url 'orders:remove' order.id %}">remove</a></td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% else %}
            <div>
                <p>Нет заказов
            </div>
            {% endif %}
        {% include 'orders/select_person.html'%}
{% endblock %}
