Create order for

<select name="persons" id="selectPerson" onchange="detectChange(this)">
    <option value="">--Select person--</option>
    {% for person in users %}
    <option id="select_{{ person.id }}" value="{{ person.id }}">{{ person.username }} </option>
    {% endfor %}
</select>
<a id="selectedPerson" href="">go</a>
<script>
    var link= document.getElementById('selectedPerson');
    document.getElementById("selectPerson").onchange = function(){
        var link = document.getElementById('selectedPerson');
        link.href="{% url 'orders:create' %}?uid=" + selectPerson.value;
    };
</script>
