<table border=1>
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Время приготовления</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
            {% for record in order_content %}
                    <tr>
                        <td>{{ record.product }}</td>
                        <td>{{ record.product.timeToCook }}</td>
                        <td>{{ record.quantity }}</td>
                    </tr>
            {% endfor %}
            <tr>
                <td colspan="3">timeToCookTotal: {{ timeToCookTotal }}</td>
            </tr>
    </tbody>
</table>

